body {
  /* background-color: #ffa54f; */
  /* background-color: rgb(255, 154, 11); */
}

nav {
  background-color: rgb(255, 154, 11);
}

.aboutSectionPhoto {
  background: url("./assets/ToolsOnTable.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  max-width: 2000px;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}
.aboutSectionContent {
  display: flex;
  align-items: center;
  height: 80vh;
}
img {
  height: 350px;
  background-color: green;
  padding: 30px;
  border-radius: 50%;
  margin: 10px;
}

#navbar {
  position: fixed;
  width: 100vw;
}

.profileText {
  padding: 0 30px;
  text-align: justify;
  font-size: 20px;
}
